


.card{
    background-color: white;
    width: 400px;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8;
}

#ch{
  display: none;   
}

#ch:checked ~ .content {
    display: block;
}

#ch:checked ~ label {
    display: none;
}

.content{
    display: none;
}
label{
   display: inline-block;
   cursor: pointer;
   color: #fff;
   background-color: rgb(72, 113, 97);
   padding: 3px 13px;
   border-radius: 3px;
   margin-top: 12px;



}

.extra_text{
    display: none;
}