body {
  background-image: url("images/Screenshot 2023-12-23 at 6.58.44 PM.png");

  background-color: rgb(255, 205, 75);
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
overflow: hidden; 
display:block;

  /* can't highlight anything */
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;


  
}
.top_bar {
  height: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
}
.large_window {
  width: 400px;
  height: 500px;
  position: relative;
}
.large_wide_window {
  width: 600px;
  height: 500px;
  bottom: 0%;
  left: 0%;
  position: absolute;
}

.mid_window {
  width: 400px;
  height: 300px;
  position: relative;
}

.square_mid_window{
  width: 600px;
  height: 600px;
  position: absolute;
  
  
  top: 20%;
  left: 30%;
  /* transform: translate(-50%,-50%); */

}
.mid_tall_window {
  width: 600px;
  height: 800px;
  position: absolute;
  top: 20%;
  right: 0%;

}
.window_box {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  box-shadow: 5px 5px 10px rgb(29, 29, 29);
  outline: 3px solid;
  place-items: center;

}

.top_box {
  width: 100%;
  height: 30px;
  background-color: rgb(174, 198, 207);
  position: absolute;
  display: flex;
}

.top_click_box {
  width: 100%;
  height: 100%;
  background-color: rgb(8, 2, 163);
  position: absolute;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: 3px solid;
}

.exit_box {
  margin: 5%;
  width: 20px;
  height: 20px;

  background-color: rgb(255, 255, 255);
  margin-left: auto;
  text-align: center;
  position: relative;
  outline: 2px solid;
  box-shadow: 5px 5px 10px rgb(29, 29, 29);
}
.exit_box h1 {
  width: 10;
}

.top_logo img {
  width: 5%;
}
