.sponsor_part{
    background-color: rgb(245, 245, 255);

}

.sponsor_head {
    padding: 10px;
    text-align: center;
  }
.sponsor_row{
    height: 80px;
    margin: 20px;
    padding: 50px;
}

.TERA img{
    height: 150px; 
    width: auto;
}

.GIGA img{
    height: 80px; 
    width: auto;
}

.MEGA img{
    height: 80px; 
    width: auto;
}

.KILO img{
    height: 40px; 
    width: auto;
}