.start_page{
    
    text-align: center;
    
flex-direction: column;


}
.bison_title{
    font-size: 50px;
}
.howard_title{
    font-size: 30px;
}
.date_title{
    font-size: 30px;
}
.start_page img{
    height: 40%; 
    width: auto;
}
.window_page_extra_space{
    height: 50px; 
}