.start_page{
    background-color: white;
    background-image: url('images/opening graphic with date.jpg') ;
    text-align: center;
flex-direction: column;
background-size: cover;



font-size: 10px;
height: 100%;

}
.bison_title{
    font-size: 30px;
}
.howard_title{
    font-size: 20px;
}
.date_title{
    font-size: 10px;
}
.start_page img{
    height: 40%; 
    width: auto;
}
.window_page_extra_space{
    height: 50px; 
}