body{
    background-color:snow ;
}
.tracks{
    width:600px;
    height: 400px;
    background-color: greenyellow;
}
.card{
    width:100%;
    height: 100%;
    color:red;
    position: relative;
    transition: transform 1500ms ;
    transform-style: preserve-3d;
    /*transform: scale(0.4, 0.4);*/
}

.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}
.front,.back{
    height: 100%;
    width: 100%;
    color:aqua;
    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
    
}

.front {
background-color: blue;
}
.front img {
    height: auto;
    max-width: 100%;
   }

.back{
    background-color: yellow;
    transform: rotateY(180deg);
    color: black;
}