
.tracks_part {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  
}
.track_titel {
  padding: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.tracks_items {
  vertical-align: middle;
  align-items: center;

  margin: 1rem auto;
  max-width: calc(100% - 80px);
  display: grid;
  grid-template-columns: repeat(2, minmax(25px, 1fr));
  gap: 2rem;

  place-items: center;
}
.track_card {
  width: 180px;
  height: 80px;
  position: relative;
  text-align: center;

  transition: transform 1500ms;
  transform-style: preserve-3d;
  /*transform: scale(0.4, 0.4);*/
}

.track_card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}
.front,
.back {
  height: 100%;
  width: 100%;
  color: black;
  text-align: center;

  padding: 10px;
  margin: 0;
  border-radius: 2rem;
  position: absolute;
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid;
}

.front {
  background-color: rgb(46, 71, 214);
  /* background-color: FFCD4B; */
  outline: 5px solid;

  opacity: 80%;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.back {
  transform: rotateY(180deg);
  color: black;
  opacity: 100%;
  outline: 5px solid;

}
.back img {
  width: 80%;
  opacity: 100%;
}
.back h4 {
  font-size: 12px;
}

.track_text {
  font-size: 110%;
}

